@font-face {
    font-family: 'HighSpirited';
    src: url(fonts/High\ Spirited.ttf)
    format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-VariableFont_wght.ttf)
    format('truetype');
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url(fonts/HelveticaNeue\ Regular.ttf)
    format('truetype');
}
body{
    
    font-size: 18px;
    margin:0;
    
    font-family:'Montserrat';
}

header{   
    padding: 7px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    border-bottom:0.5px solid rgba(177, 177, 177, 0.76);
    box-sizing: border-box;
}
header h1{
    font-size: 2rem;
    font-family: 'HighSpirited';     font-weight: normal;
    
}
h2{
    font-size: 2.8rem;
    font-family: 'HighSpirited';
    font-weight: normal;
    text-align: center;
}
img{
    width:100%;
    object-fit: cover;
}
.block{
   padding-top: 15px;
    margin:5px;
    text-align: center;
    width:calc(100%/3 - 10px);
    height: (((100vw - (100vw - 900px))/3 - 10px)/2);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(204, 204, 204, 0.63);
    box-sizing: border-box;
    box-shadow: 1px 1px 9px 1px rgba(201, 200, 200, 0.623);
  
}
figure{
    margin: 0;
    flex-grow: 1;
}

#espaco{
    height: 72px;
}
.capa{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    width:100%;
    height: 280px;
    margin:0 auto;
    background-size: cover;
   
    background-image:url(img/flores.jpg);
}
.capa h1{
    font-weight: normal;
    font-size: 3.5rem;
    text-align: center;
    font-family: 'HelveticaNeue';
    font-weight: normal;
    
}
#intro{
    margin: 50px auto;
    width: 90%;
    text-align: justify;
    font-size: 1.1rem;
    max-width: 900px;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
    justify-content: center;
}
.block-link{
    padding: 7px;
    background-color: black;
}
.block-link:hover{
    background-color: rgb(66, 66, 66);
}
.link{
    font-size: 0.7rem;
    text-transform:uppercase;
    text-decoration:none;
    color:white;
    
}
.desativado{
    color:red;
}
#text{
    
    margin-top: -5px;
    margin-bottom: 15px;
    font-size:10px;
}
#topo{
    text-decoration:none;
    color:black;
    

}
footer{
    text-align: center;
}
.dinheiro{
    text-align: center;
}

#pagamento{
    padding: 8px;
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
    
}
#pagamento h2,h3,h4,p{
    margin: 0;
}
#code{
    object-fit: cover;
    display: block;
    padding: 10px;
    width: 30%;
}
span{
    font-weight: bold;
    color:rgb(0, 89, 255);
}
@media (max-width: 768px){
    .block {
        width: calc(100%/2 - 20px);
    }
    .block-img {
        height: calc((100vw /2 - 20px) /2);
    }
}


@media (max-width: 425px){
    .block {
        width: calc(100% - 10px);
    }
    .block-img {
        height: calc((100vw - 10px) /2);
    }
}


@media (max-width: 320px){
    .block {
        width: calc(100%);
        margin: 10px 0;
    }
    .block-img {
        height: calc(100vw /2);
    }
}
